:root {
    --primary-bg: rgb(40, 40, 40);
    --navbar-bg: rgb(50, 50, 50);
    --primary-btn:cornflowerblue;
    --secondary-bg: azure;
    --secondary-btn: crimson;
    --dark-border: rgb(65, 65, 65);
}

*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'JetBrains Mono';
}

.navbar-container {
    padding: 10px 10px;
    border: 1px solid var(--dark-border);
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.navbar-container .brand-logo, .navbar-container .session-info{
    position: relative;
    width: max-content;
}

.navbar-container ul.nav li.nav-item {
    display: inline;
    padding: 10px;
}

.navbar-container ul.nav li.nav-item:hover {
    background-color: var(--dark-border);
    border-radius: .3em;
}

.navbar-container ul.nav li.nav-item a.nav-link {
    text-decoration: none;
    color: var(--secondary-bg);
}

.navbar-container .session-info form{
    display: inline;
}

.navbar-container .session-info {
    border-radius: .5rem;
    background-color: var(--secondary-bg);
    padding-left: 7px;

}

.navbar-container .session-info form .logout-btn {
    background-color: var(--secondary-btn);
    padding: 2px 6px;
    border: none;
    height: 25px;
    border-radius: .5em;
}