/* palette 1
#333533
#242423
#F5CB5C
#E8EDDF
#CFDBD5


palette 2
#37463D
#5B696B
#535953
#F8FBF1
#C5C5A9 
*/

:root {
    --primary-bg: #37463D;
    --navbar-bg: #C5C5A9;
    --primary-btn:#535953;
    --secondary-bg: #F8FBF1;
    --secondary-btn: #5B696B;
    --dark-border: #5B696B;
}

:root {
    --primary-bg: #333533;
    --navbar-bg: #242423;
    --primary-btn:#F5CB5C;
    --secondary-bg: #E8EDDF;
    --secondary-btn: #CFDBD5;
    --dark-border: #333533;
}

*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family:'JetBrains Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--secondary-btn);
}

section {
    background-color: var(--secondary-btn);
    padding: 10px;
    margin: 0px auto;
    max-width: 1980px;
    min-height: 100vh;
}

section.content div.welcome-illustration {
    background-image: url('../../storage/app/public/illustration.jpg') ;
    background-size: cover;
    background-color: rgba(80, 80, 80, 0.5);
    height: calc(100vh - 30px);
}

section.content div.welcome-illustration form.search-bar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

section.content div.welcome-illustration form.search-bar input[type='text']{
    width: 450px;
    border: none;
    outline: none;
    border-radius: .3em;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    text-align: center;
    background-color: white;
}

section.content div.welcome-illustration form.search-bar input[type='submit']{
    height: 40px;
    padding: 10px;
    border: .3px solid var(--dark-border);
    border-radius: .3em;
    font-weight: 700;
    background-color: rgb(247, 247, 69);
}

section.content div.welcome-illustration div.welcome-text h3{
    color: var(--secondary-btn);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
    border-radius: .5em;
    padding: 20px;
    width: fit-content;
    background-color: white;
}

section.content div.welcome-illustration div.welcome-text h3 span {
    font-size: 35px;
    color: var(--primary-btn);
    padding: 5px 10px;
    border-radius: .3em;
    line-break:loose;
}

span.cart-items-count {
    background-color: var(--primary-btn);
    color: var(--navbar-bg);
    padding: 2px 5px;
    font-weight: bold;
    border-radius: .3em;
}

.alert {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: .3em;
    font-weight: bold;
}

.alert-success {
    background-color: var(--primary-btn);
}

.alert-error {
    background-color: lightcoral;
}

.alert svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.alert strong {
    font-size: 16px;
}