/* palette 1
#333533
#242423
#F5CB5C
#E8EDDF
#CFDBD5


palette 2
#37463D
#5B696B
#535953
#F8FBF1
#C5C5A9 
*/

/* :root {
    --primary-bg: #37463D;
    --navbar-bg: #C5C5A9;
    --primary-btn:#535953;
    --secondary-bg: #F8FBF1;
    --secondary-btn: #5B696B;
    --dark-border: #5B696B;
} */

@font-face {
    font-family: 'raleway';
    src: url('./font-family/Raleway-Medium.ttf');
}

:root {
    --primary-bg: #333533;
    --navbar-bg: #242423;
    --primary-btn:#F5CB5C;
    --secondary-bg: #E8EDDF;
    --secondary-btn: #CFDBD5;
    --dark-border: #333533;
}

:root {
    --secondary-bg: #e3f6f5;
    --navbar-bg: #ffffff;
    --primary-btn:#2c698d;
    --primary-bg: #272643;
    --secondary-btn: #bae8e8;
    --dark-border: #ffffff;
    --nav-text: #272643;
    --nav-hover: #e3e3e3;
    --text-primary: #272643;
    --text-secondary: #ffffff;
}



*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family:'Poppins', 'raleway', 'JetBrains Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    color: var(--text-primary)
}

body {
    padding-top: 45px;
    background-color: var(--primary-bg);
    overflow-x: hidden;
}

section {
    background-color: var(--primary-bg);
    padding: 10px;
    margin: 0px auto;
    max-width: 1980px;
    min-height: max-content;
}

section.content {
    min-height: 100vh;
}

span.cart-items-count, span.notification-count {
    background-color: var(--primary-btn);
    padding: 2px 5px;
    border-radius: .3em;
    color: var(--text-secondary)!important;
}

.alert {
    position: fixed;
    display: inline-block;
    min-width: 200px;
    bottom: 10px;
    margin: 10px;
    padding: 20px;
    border-radius: .3em;
    z-index: 7;
}

.alert .content {
    color: var(--nav-hover);
    margin-right: 50px;
}
.alert-success {
    background-color: var(--primary-btn);
}


.alert button.close {
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.alert svg {
    width: 20px;
    height: 20px;
    fill: var(--nav-hover);
    stroke: var(--nav-hover);
}

.alert strong {
    font-size: 16px;
}

.alert button.close:hover svg {
    border: .3px solid var(--dark-border);
    border-radius: .2em;
}

.alert-error {
    color: var(--text-primary)!important;
    background-color: lightcoral;
}

.prompt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:.3em ;
    transform: translate(-50%, -50%);
    background-color: white;
    border: .5px solid rgb(190, 190, 190);
    max-width: 350px;
    width: 70%;
    z-index: 8;
}


.prompt-container button.close-btn svg {
    width: 25px;
    height: 25px;
}

.prompt-container button.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prompt-container h1 {
    padding: 10px;
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
    font-size: 18px;
}

.prompt-container form {
    padding: 10px;
}

.prompt-container form input[type='number']{
    border: .3px solid var(--secondary-btn);
    width: 100%;
    border-radius: .3em;
    padding: 10px;
    font-size: 14px;
    outline: none;
    background-color: var(--secondary-bg);
    margin-bottom: 10px;
}

.prompt-container div.action {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px) ;
    column-gap: 10px;
} 

.prompt-container div.action button, .prompt-container div.action input[type='submit'] {
    padding: 10px;
    border: none;
    border-radius: .3em;
    cursor: pointer;
}

.prompt-container div.action button {
    background-color: var(--secondary-btn);
}

.prompt-container form svg {
    fill: var(--primary-bg);
    stroke: var(--primary-bg);
}

.prompt-container div.action input[type='submit'] {
    background-color: var(--primary-btn);
    color: var(--text-secondary);
}

.prompt-container button.close-btn svg path {
    fill: var(--primary-bg);
}

section.content h1.info {
    color: var(--text-secondary);
    font-size: 28px;
    margin: 20px 40px 0px -20px;
    font-weight: normal;
    background-color: var(--navbar-bg);
    display: inline-block;
    color: var(--primary-btn);
    padding: 5px 15px;
    border-radius: .3em;
    border-bottom: 5px solid lightcoral;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

@keyframes removeAlert {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

