h1 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

div input, textarea, select{
    border: .3px solid var(--navbar-bg);
    width: 100%;
    border-radius: .3em;
    padding: 10px;
    font-size: 14px;
    outline: none;
    background-color: var(--nav-hover);
    margin-bottom: 10px;
}

div input[type='submit']{
    margin: 10px 0px;
    background-color: var(--primary-btn);
    cursor: pointer;
    color: var(--text-secondary);
}

div input[type='submit']:hover {
    background-color: var(--secondary-bg);
    color: var(--primary-bg);
} 

div label {
    color: var(--text-primary);
}

form.login-form, form.register-form{
    display: block;
    margin: 0px auto;
    min-width: max-content;
    width: 70ch;
    width: 45em;
    background-color: white;
    border-radius: .3em;
    padding: 20px;
}

a.alternative-link {
    padding: 10px;
    color: var(--text-primary);
    font-weight: bold;
}

p.alternative-text {
    color: var(--text-primary);
}

p.error {
    font-size: 1.2em;
    color: lightcoral;
    margin-top: -10px;
    margin-bottom: 20px;
}

input[type='checkbox'] {
    margin-top: -10px;
    margin-bottom: 20px;
    
    width: inherit;
}