/* Barre de navigation */
.navbar-container {
    position:sticky;
    top: 0px;
    padding: 10px 10px;
    /* border-bottom: 1px solid var(--primary-bg); */
    box-shadow: 0px .5px 5px var(--primary-bg);
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    z-index: 8;

}

.navbar-container .brand-logo, .navbar-container .session-info{
    position: relative;
    width: max-content;
}


.navbar-container ul.nav li.nav-item {
    display: inline;
    padding: 10px;
    margin: 0px 2px;
}

li.active {
    background-color: var(--nav-hover);
    border-radius: .3em;
    border-bottom: 3px solid var(--primary-btn);
}

.navbar-container ul.nav li.nav-dropdown div.big-menu{
    display: none;
    grid-template-columns: calc(30%) calc(30%) calc(30%);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: var(--navbar-bg);
    padding: 15px;
    border-radius: 0px 0px .5em .5em;
    border-radius: .3em;
    top: 40px;
    left: 50%;
    color: var(--text-secondary);
    transform: translateX(-50%);
    width: 70%;
    box-shadow: 0px 2px 30px 1px #27264355;
}

div.big-menu div h1:nth-child(1){
    text-align: left;
    font-size: 25px;
    margin: auto;
}

div.big-menu button.admin-dashboard, div.big-menu > div {
    border: 1px solid var(--nav-hover);
    border-radius: .3em;
    padding: 10px;
    background-color: transparent;
}

div.big-menu button.admin-dashboard {
    cursor: pointer;
}

div.big-menu div.dashboard-illustration {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: var(--nav-hover);
    border-radius: .3em .3em 0px 0px;
}


div.big-menu div.dashboard-illustration svg {
    padding: 10px 0px;
    max-width: 100%;
    height: 70px;
}
.navbar-container ul.nav li.nav-dropdown:hover div.big-menu{
    display: grid;
    animation: show-big-menu .3s ease 0s 1 ease-out;
}


div.big-menu h1 {
    font-size: 22px;
    font-weight: 600;
}
.navbar-container ul.nav li.nav-item:hover {
    background-color: var(--nav-hover);
    border-radius: .3em;
}

.navbar-container ul.nav li.nav-item a.nav-link, li.nav-item a.nav-link * {
    text-decoration: none;
    color: var(--nav-text);
    font-size: 12px;
}


.navbar-container .brand-logo img{
    width: 100px;
}

div.big-menu button.admin-dashboard:hover, div.big-menu > div:hover {
    box-shadow: 0px 0px 30px 5px #27264319;
}

div.big-menu ul.big-menu-nav li.nav-item {
    display: block;
    margin: 0px;
}


.navbar-container ul.nav li.nav-dropdown div.big-menu li.nav-item:hover {
    background-color: var(--primary-btn);
}

.navbar-container ul.nav li.nav-dropdown div.big-menu li.nav-item:hover a {
    color: var(--dark-border);
}


/* se connecter et s'inscrire */
.navbar-container .session-info form{
    display: inline;
}

.navbar-container .session-info {
    border-radius: .2rem;
    height: 25px;
    background-color: var(--nav-hover);
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar-container .session-info span {
    padding: 0px 10px;
}

.navbar-container .session-info form .logout-btn {
    background-color: var(--primary-btn);
    padding: 0px 10px;
    border: none;
    height: 25px;
    margin-left: 10px;
    border-radius: .2em;
    cursor: pointer;
    font-size: 12px;
    color: var(--text-secondary);
}


.navbar-container li.nav-dropdown a.nav-link svg {
    width: 16px;
    height: 12px;
    transform: translateY(2px) rotate(90deg);
}

input#register-btn, input#login-btn {
    border: none;
    padding: 0px 10px;
    cursor: pointer;
}

input#register-btn {
    background-color: transparent;
}

input#login-btn {
    background-color: var(--primary-btn);
    height: 25px;
    border-radius: .3em;
    color: var(--text-secondary);
}


@keyframes show-big-menu {
    from  {
        top: 52px;
        border-radius: .5em;

        filter: blur(3px) grayscale(100);
    }

    to {
        top: 40px;
        border-radius: 0px 0px .5em .5em;
        filter: blur(0px) grayscale(0);
    }
}