section.content div.all-product {
    padding: 10px;
    display: grid;
    grid-template-columns: calc(30% - 5px) calc(30% - 5px) calc(30% - 5px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content:space-around;
}