/* contacter l'administration  */
section.content div.message-collapse button.collapse-btn {
    position: fixed;
    bottom: 10px;
    right: 40px;
    border-radius: .3em;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    width: 40px;
}

button.collapse-btn svg {
    width: 40px;
    height: 40px;
}

section.content div.message-collapse button.collapse-btn:hover button.collapse-button::before {
    content: 'Contacter l\'admin';
    width: 300px;
}

div.message-container-header {
    position: relative;
    height: 50px;
    box-shadow: 0px 1px 5px rgb(139, 138, 138);
    background-color: var(--navbar-bg);
    border-radius: .7em .7em 0px 0px;
    z-index: 8;
}

div.message-container-header button.close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

div.message-container-header button.close-btn svg {
    width: 25px;
    height: 25px;
    fill: var(--primary-bg);
    stroke: var(--primary-bg);
}

div.message-container-header h1.recipient {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 13px;
}

div.message-container {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width:  55ch;
    height: 80vh;
    border-radius: .7em .7em 0px 0px;
    background-color: var(--nav-hover);
    z-index: 8;
}

div.message {
    margin: 15px 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;    
}

div.message div.content {
    max-width: 70%;
    background-color: var(--primary-btn);
    color: var(--text-secondary);
    padding: 7px;
    border-radius: .5em .5em 0px .5em ;
}