nav.paginator svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--primary-btn);
    border-radius: .3em;
}

nav.paginator div.array-links{
    position: relative;
    width: 100%;
    bottom: 5px;
    display: inline-block;
    width: max-content;
    text-decoration: none;
}

nav.paginator div.array-links a {
    text-decoration: none;
    margin: 1px;
    padding: 2px 5px;
    color: var(--text-secondary);
}

nav.paginator div.array-links span.active-page {
    background-color: var(--primary-btn);
    font-weight: bolder;
    padding: 2px;
    border-radius: .3em;
}