section form.profile {
    margin: 10px auto;
    width: 70ch;
    width: 45em;
    background-color: white;
    padding: 20px;
    border-radius: .3em;
}

section form.profile h2 {
    font-size: 20px;
    margin:20px 20px 20px 0px;
    color: var(--dark-border);
}