section form.profile {
    margin: 0px auto;
    width: 110ch;
    width: 65em;
    background-color: var(--navbar-bg);
    padding: 20px;
    border-radius: .3em;
}

section form.profile h2 {
    font-size: 20px;
    margin:20px 20px 20px 0px;
    color: var(--text-primary);
}