div.search-bar {
    margin-right: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

div.search-bar form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 div.search-bar form div svg  {
    width: 30px;
    height: 30px;
    transform: scale(.8);
 }

 div.search-bar form input, div.search-bar form button[type='submit']{
    height: 35px;
}

div.search-bar form button[type='submit'] {
    border: 1px solid white;
    background-color: rgb(240, 238, 238);
    
    border-radius: 0px .3em .3em 0px;
    padding: 0px 10px;
    cursor: pointer;
}

div.search-bar form input[type='text'] {
    border: 1px solid white;
    outline: none;
    padding: 0px 10px;
    border-radius: .3em 0px 0px .3em;
}

div.search-bar form button[type='submit']:hover {
    background-color: white;
    border-color: rgb(240, 238, 238);
}