section div.result div.products, div.categories {
    display: grid;
    padding: 10px;
    grid-template-columns: calc(30% - 10px) calc(30% - 10px) calc(30% - 10px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-around;
}


h2 {
    border:1px solid white;
    background-color: var(--navbar-bg);
    border-radius: .2em;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

span.count {
    background-color: var(--primary-btn);
    padding: 5px 10px;
    border-radius: .3em;
    font-size: 18px;
    color: var(--text-secondary);
}

h1.category_name {
    padding: 10px;
    margin: 10px;
}