div.product-card {
    padding: 10px;
    display: inline-block;
    border-radius: .3em;
    background-color: var(--secondary-bg);
    background-color: white;
    margin-bottom: 10px;
    position: relative;
    max-width: 100%;
}

div.product-card div.card-head h1:nth-child(1) {
    font-size: 20px;
}

div.image {
    border-radius: .3em .3em 0px 0px ;
    margin-bottom: 5px;
    position: relative;
}

div.image div.action {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 3;
}


div.action form {
    display: inline-block;
}

div.action h5.price, div.action form button[type='submit'] {
    display: inline-block;
}

div.action form button[type='submit'] {
    transform: translateY(10px);
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
}

div.action form button[type='submit']:hover svg path {
    stroke: var(--primary-btn);
}

div.action form button[type='submit']:hover {
    border: 1px solid var(--primary-btn);
    border-radius: 50%;
    padding: 5px;
    background-color: var(--primary-btn);
}

div.action form  {
    margin: 0px;
    padding: 0px;
}
div.action form button[type='submit'] svg{
    width: 40px;
    height: 40px;
}


div.action h5.price {
    padding: 10px ;
    font-size: 20px;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.904);
}


div.image img {
    border-radius: .3em .3em 0px 0px;
    width: 100%;
    height: auto;
} 

div.image:hover .img {
    filter: blur(2px);
    filter:brightness(1.05);
}

div.image:hover div.action {
    display: block;
}

div.card-head, div.action {
    text-align: right;
}

div.action a.show {
    border-radius: .3em;
    display: inline-block;
    border: none;
    text-decoration: none;
    color: var(--primary-bg);
    margin: 5px 0px;
    font-weight: bold;
    background-color: var(--primary-btn);
    padding: 5px 10px;
}