div.product-card {
    padding: 10px;
    display: inline-block;
    border-radius: .3em;
    background-color: var(--secondary-bg);
    background-color: white;
    margin-bottom: 10px;
}

div.product-card div.card-head h1:nth-child(1) {
    font-size: 20px;
}

div.image {
    border-radius: .3em .3em 0px 0px ;
    margin-bottom: 5px;
    position: relative;
}

div.image h5.price {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3em;
    padding: 10px ;
    width: max-content;
    font-size: 20px;
    color: var(--primary-bg);
    background-color: rgba(255, 255, 255, 0.849);
    border: 1px solid var(--secondary-btn);
    z-index: 3;
    font-weight: bolder;
}

div.image img {
    border-radius: .3em .3em 0px 0px;
    width: 100%;
    height: auto;
} 

div.image:hover .img {
    filter: blur(1px);
    filter:brightness(1.1);
}

div.image:hover h5.price {
    display: block;
}

div.card-head, div.action {
    text-align: right;
}

div.action a.show {
    border-radius: .3em;
    display: inline-block;
    border: none;
    text-decoration: none;
    color: var(--primary-bg);
    margin: 5px 0px;
    font-weight: bold;
    background-color: var(--primary-btn);
    padding: 5px 10px;
}