div.product-informations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    column-gap: 10px;
}

div.product-details {
    margin-right: 10px;
}
div.product-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div.product-informations div.product-images img{
    max-width: 100%;
    max-height: 100%;
    border-radius: .3em;
    box-shadow: 0px 0px 2px .3px var(--dark-border);
}

div.product-details h1 {
    margin: 0px;
    text-align: left;
    font-size: 40px;
}

div.stars {
    margin: 10px 0px;
    display: inline-block;
}

div.stars div.star {
    display: inline-block;
}

div.stars  div.star svg {
    width: 22px;
    height: 22px;
}

div.stars div.star svg path {
    stroke-width: 1.2px;
}

.star-1 path, .star-2 path, .star-3 path, .star-4 path{
    fill: var(--primary-btn);
}


h5.product-price {
    font-size: 25px;
}


input.add-to-cart-button, input.add-to-wishlist-button {
    height: 35px;
    cursor: pointer;
    width: max-content;
    padding: 5px 10px;
    border: 1px solid grey;
    margin: 10px 0px;
    background-color: var(--primary-btn);
    border-radius: .3em;
}

input.add-to-cart-button:hover {
    background-color: white;
    color: black;
}

input.add-to-wishlist-button {
    background-color: white;
}
div.product-quantity {
    position: relative;
}

div.product-quantity label {
    display: inline-block;
    position: absolute;
    top: 5px;
    padding: 2px 5px;
    font-weight: bold;
    background-color: white;
    border: 1px solid var(--dark-border);
    border-radius: .2em;
}
div.product-quantity input{
    border: 1px solid grey;
    outline: none;
    padding: 10px 10px;
    border-radius: .3em;
    color: var(--primary-btn);
    font-size: 16px;
    width: 180px;
    font-weight: bold;
    min-width: max-content;
    text-align: center;
}

hr {
    margin: 10px 0px;
}

div.share-product a {
    text-decoration: none;
    color: var(--primary-bg);
}

h5.avaible-product {
    color: var(--dark-border);
}

h5.avaible-product span.avaible-product-quantity {
    font-size: 25px;
    color: var(--dark-border);
}