div.product-informations {
    display: grid;
    padding: 10px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: 100%;
    column-gap: 20px;
}


div.product-details {
    margin-right: 10px;
}

div.product-details small.description {
    color: var(--text-secondary);
    font-weight: light;
}

div.product-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div.product-informations div.product-images img{
    max-width: 100%;
    max-height: 100%;
    border-radius: .3em;
    box-shadow: 0px 0px 2px .3px var(--dark-border);
}

div.product-details h1 {
    margin: 0px;
    text-align: left;
    font-size: 40px;
    color: lightcoral
}

div.stars {
    margin: 10px 0px;
    display: inline-block;
}

div.stars div.star {
    display: inline-block;
}

div.stars  div.star svg {
    width: 22px;
    height: 22px;
}

div.stars div.star svg path {
    stroke-width: 1.2px;
    stroke: lightyellow;
}

.star-1 path, .star-2 path, .star-3 path, .star-4 path{
    fill: lightyellow;
    stroke: lightyellow;
}


h5.product-price {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 25px;
    color: lightcoral;
}

h5.product-price small {
    color: lightcoral;
}


input.add-to-cart-button, input.add-to-wishlist-button {
    height: 35px;
    cursor: pointer;
    width: max-content;
    padding: 5px 10px;
    margin: 10px 0px;
    background-color: var(--primary-btn);
    border-radius: .3em;
    border: none!important;
}

input.add-to-cart-button:hover {
    background-color: white;
    color: black;
}

input.add-to-wishlist-button {
    background-color: white;
}

div.product-quantity {
    position: relative;
}

div.product-quantity label {
    color: var(--navbar-bg);
}

div.product-quantity input[type='number']{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: var(--nav-hover);
    outline: none;
    border: none;
    border-radius: .2em;
    min-width: 100px;
}

div.product-details input[type='submit'] {
    padding: 10px;
    border-radius: .2em;
    background-color: var(--primary-btn);
    color: var(--text-secondary);
    border: none;
    outline: none;
}

hr {
    margin: 15px 0px;
    color: red;
    size: 20px;
}

div.share-product p {
    color: var(--navbar-bg);
}

div.share-product a {
    text-decoration: none;
    color: var(--secondary-btn);
}

h5.avaible-product {
    font-weight: normal;
    color: var(--nav-hover);
}

h5.avaible-product span.avaible-product-quantity {
    font-size: 20px;
    color: var(--primary-btn);
}

section.content form input {
    width: max-content!important;
}