section.content {
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 5px;
}


h5.section-title {
    background-color: var(--nav-hover);
    display: inline-block;
    padding: 5px 10px;
    border-radius: .3rem;
    color: var(--primary-btn);
    font-size: 28px;
    border-bottom: 2px solid var(--primary-btn);
    margin: 15px 0px;
    font-weight: normal;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

div.main-content {
    position: relative;
    background-color: var(--navbar-bg);
    padding: 10px;
    border-radius: .3em;
}

div.products, div.users, div.incomes {
    display: grid;
    max-width: 100%;
    grid-template-columns: calc(30% - 10px) calc(30% - 10px) calc(30% - 10px);
    column-gap: 20px;
    justify-content: space-between
}

aside.activity-container {
    width: 200px;
}

div.charts {
    position: relative;
    display: grid;
    column-gap: 15px;
    grid-template-columns: calc(70% - 10px) calc(30% - 10px);
    max-width: 100% ;
    margin: 20px 0;
}

div.charts div.income {
    flex-grow: 2;
    height: 100%;
}

/* div.top-selled-products {
    border: 1px solid green
} */

canvas {
    height: 100%;
    position: relative;
    width: 100% ;
    max-width: 100%;
}

h1.info {
    width: 100%!important;
    margin: 0px!important;
    font-size: 15px!important;
    text-align: center;
    margin: 10px 0px!important;
}

