section.content {
    position: sticky;
    top: 50px;
}

div.main-content div.users {
    display: block!important;
    width: 50ch;
    background-color: var(--navbar-bg);
    z-index: 7;
    /* box-shadow: 0px 1px 5px rgb(139, 138, 138); */
    overflow-y: scroll;
}

div.main-content {
    width: 100%;
    flex-grow: 5;
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 50px);
    padding: 0px;
    position: sticky!important;
    top: 50px;
}

div.main-content div.message-container {
    max-height: 100%;
    display: flex;
    position:static;
    flex-grow: 3;
    width: calc(100% - 50ch)!important;
    max-width: calc(100% - 50ch)!important;
    border: none!important;
    z-index: 6;
}

div.main-content div.message-container div.message-container-header, form.send-message {
    border-radius: 0px;
    box-shadow: none!important;
}

div.main-content div.message-container .close-btn {
    display: none;
}

div.users div.user {
    position: relative;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid var(--nav-hover);
    border-radius: .5em;
}

div.users div.user .name {
    font-size: 14px;
}

div.users div.user .elapsed-time {
    font-size: .9em;
}

div.users .last-message {
    margin: 2px 0px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap:nowrap;
}

h1.info {
    margin: 5px!important;
    margin-bottom: 10px!important;
    color: var(--text-primary)!important;
}

p.unread {
    width: 10px;
    height: 10px;
    background-color: var(--primary-btn);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.active {
    background-color: var(--secondary-btn);
}

div.search-bar {
    margin: 10px 5px!important;
}

div.search-bar form {
    width: 100%;
}

div.search-bar form input {
    width: 100%;
    border: 1px solid var(--nav-hover)!important;
}

div.users {
    display: flex;
}