div.mini-card {
    display: flex;
    flex-direction: column;
    border-radius: .3em;
    border: 1px solid var(--nav-hover);
}

div.mini-card:hover {
    border: 1px solid var(--nav-hover);
}

div.mini-card:hover svg {
    transform: scale(1.1);
}

section.illustration svg {
    transition: ease-in-out .2s ;
    border-radius: .3rem;
    background-color: var(--nav-hover);
    padding: 20px;
    fill: var(--primary-btn);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

section.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    font-size: 28px;
    text-align: center;
}


section {
    background-color: transparent;
    width: 100%;
}

section.info {
    color: var(--text-primary);
    font-weight: normal;
    text-align: center;
}

section.info span {
    color: lightcoral;
    padding: 0px 5px;
    font-size: 28px;
    font-weight: 600;
}

section.info * {
    font-weight: 500;
}

section.info a.action {
    display: inline-block;
    text-decoration: none;
    background-color: var(--secondary-btn);
    padding: 5px 25px;
    width: max-content;
    border-radius: .3em;
}