section {
    background-color: var(--secondary-bg);
}
section table {
    margin: 10px;
    width: calc(100% - 20px);
    border-collapse: collapse;
}

section table thead {
    position: sticky;
    height: 50px;
}
section table thead td{
    background-color: var(--primary-bg);
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

section table tbody {
    background-color: white;
}

section table tr td {
    padding: 5px;
    border: 1px solid var(--dark-border);
    text-align: center;
}

section table tr td.action a {
    text-decoration: none;
}

section table tr td.action a, form.remove-form input[type='submit'] {
    display: inline-block;
    padding: 5px 5px;
    border-radius: .2em;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    margin: 2px;
}

section table td.price {
    font-weight: bold;
    min-width: 17ch;
}
section table tr td.action a.edit-btn{
    background-color: var(--secondary-btn);
    color: var(--dark-border);
}

section table tr td.action form{
    display: inline-block;
    width: 100%;
}

section table tr td.action form.remove-form input[type='submit'] {
    background-color: var(--primary-btn);
    color: var(--dark-border);
}

section table tr td a, form.remove-form input[type='submit'] {
    color: var(--primary-bg);
    font-weight: bold;
}

section table tfoot td{
    background-color: var(--dark-border);
    font-weight: bold;
    color: white;
}

section table tfoot td + td {
    text-align: right;
    font-weight: bold;
    background-color: white;
    font-size: 16px;
    color: var(--dark-border);
}

section table tr td.action .remove-btn {
    border: none;
    width: 100%;
    background-color: var(--secondary-btn);
    padding: 5px 10px;
}

section table tr td.action .remove-btn svg {
    width: 20px;
    height: 20px;
}

div input[type='submit'] {
    margin: 0px!important;
    border: none;
}